.search{
    position: relative !important;
}
.iconSearch{
    position: absolute;
    right: 20px;
    top: 8px;
}
.direction{
    position: fixed;
    top: 700px;
    right: 20px;
}
@media screen and (max-width:580px) {
    .filter{
        margin-top: 10px !important;
       display: flex;
       justify-content: space-between;
    }

    .select,.search{
          width: 50%;
    }
    .iconSearch{
        position: absolute;
        right: 20px;
        top: 12px;
    }

}
@media screen and (max-width:993px) {
    .direction{
        position: initial;
        top: initial;
        right: initial;
    }
}